.profile-menu {
    position: relative;
}

.profile-menu-content {
    opacity: 0;
    width: 100%;
    position: absolute;
    margin: 1em 0 0 0;
    color: #747c81;
    background: #fff;
    border-radius: 3px;
    border: solid 1px #e3e8ed;
    padding: 0;
    transition: all 0.3s;
}
.profile-menu-content ul {
    padding: 0;
    margin: 0;
}

.profile-menu-content ul li {
    padding: 1em;
}
    
.profile-menu-content ul li:not(:first-child) {   
    border-top: solid 1px #e3e8ed; 
}

.profile-menu.active .profile-menu-content {
    opacity: 1;
}
